@using System.Collections.Generic
@model System.Collections.Generic.IEnumerable<MyShare.Sample.Infrastructure.Entities.BookEntity>
@{
    ViewBag.Title = "主页";
    Layout = "_Layout";
}

@Html.ActionLink("新增", "Add")
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>标识</th>
            <th>名称</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@Html.ActionLink("详情", "Details", new { Id = item.Id })</td>
            </tr>
        }
    </table>
</div>